body {
    font-size: 18px;
    color: white;
    background-color: green;
    text-align: center;
}
h1 {
    font-size: 180%;
    font-family: cursive;
}

p {
    font-family: monospace;
    letter-spacing: 2px;
}